<ul class="collection person-details">

  <li class="collection-item">
    <div><strong>Name:</strong><span class="secondary-content black-text name-value">svfd</span>
    </div>
  </li>

  <li class="collection-item">
    <div><strong>Second Name:</strong><span class="secondary-content black-text second-name-value">svfd</span>
    </div>
  </li>

  <li class="collection-item">
    <div><strong>Age:</strong><span class="secondary-content black-text age-value">13123123</span>
    </div>
  </li>

</ul>
