<div class="row">
  <nav>
    <div class="nav-wrapper">
      <div class="title">Persons</div>
    </div>
  </nav>

  <div class="col s6 offset-s3 red-text">
    <div class="collection-header">
      <app-person-form (personCreated)="onPersonCreated($event)"
                       (personEdited)="onPersonEdited()"></app-person-form>
    </div>

    <ul class="collection with-header" id="persons-wrapper">

      <!--the template for persons-->
      <li *ngFor="let person of persons" class="collection-item" id="person-template">
        <app-person-item [person]="person" (personToRemove)="onPersonToRemove($event)"></app-person-item>
      </li>
    </ul>
  </div>
</div>
